In [5]:
# pip install yfinance pyarrow

In [14]:
import yfinance as yf
import time
# Define the ticker symbol for Thailand Set Index
# Get the data of the stock
ticker = yf.Ticker('^SET.BK')

# Fetch and update stock values
df = ticker.history(period='8d', interval='1m').reset_index()
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2353 entries, 0 to 2352
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      2353 non-null   datetime64[ns, Asia/Bangkok]
 1   Open          2353 non-null   float64
 2   High          2353 non-null   float64
 3   Low           2353 non-null   float64
 4   Close         2353 non-null   float64
 5   Volume        2353 non-null   int64
 6   Dividends     2353 non-null   float64
 7   Stock Splits  2353 non-null   float64
dtypes: datetime64[ns, Asia/Bangkok](1), float64(6), int64(1)
memory usage: 147.2 KB

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2025-01-21 10:00:00+07:00,1348.319946,1348.319946,1346.790039,1347.180054,0,0.0,0.0
1,2025-01-21 10:01:00+07:00,1347.089966,1347.689941,1346.719971,1346.719971,0,0.0,0.0
2,2025-01-21 10:02:00+07:00,1346.400024,1346.750000,1345.920044,1345.920044,0,0.0,0.0
3,2025-01-21 10:03:00+07:00,1345.770020,1345.770020,1343.729980,1343.729980,0,0.0,0.0
4,2025-01-21 10:04:00+07:00,1344.239990,1344.250000,1343.500000,1344.250000,0,0.0,0.0

In [15]:
# df['retrieval_date']=df['Datetime'].dt.date
from datetime import datetime
df['retrieval_date']= datetime.now().date()
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2353 entries, 0 to 2352
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Datetime        2353 non-null   datetime64[ns, Asia/Bangkok]
 1   Open            2353 non-null   float64
 2   High            2353 non-null   float64
 3   Low             2353 non-null   float64
 4   Close           2353 non-null   float64
 5   Volume          2353 non-null   int64
 6   Dividends       2353 non-null   float64
 7   Stock Splits    2353 non-null   float64
 8   retrieval_date  2353 non-null   object
dtypes: datetime64[ns, Asia/Bangkok](1), float64(6), int64(1), object(1)
memory usage: 165.6+ KB

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits,retrieval_date
0,2025-01-21 10:00:00+07:00,1348.319946,1348.319946,1346.790039,1347.180054,0,0.0,0.0,2025-01-30
1,2025-01-21 10:01:00+07:00,1347.089966,1347.689941,1346.719971,1346.719971,0,0.0,0.0,2025-01-30
2,2025-01-21 10:02:00+07:00,1346.400024,1346.750000,1345.920044,1345.920044,0,0.0,0.0,2025-01-30
3,2025-01-21 10:03:00+07:00,1345.770020,1345.770020,1343.729980,1343.729980,0,0.0,0.0,2025-01-30
4,2025-01-21 10:04:00+07:00,1344.239990,1344.250000,1343.500000,1344.250000,0,0.0,0.0,2025-01-30

In [16]:
# Write DataFrame to a directory "output_parquet" partitioned by retrieval_time
df.to_parquet(
    "output_setindex",
    partition_cols=["retrieval_date"],   # <-- crucial for partitioning by retrieval_time
    engine="pyarrow",
    index=False
)