In [35]:
# pip install yfinance

In [38]:
import time
# Define the ticker symbol for Thailand Set Index
# Get the data of the stock
ticker = yf.Ticker('^SET.BK')

# Fetch and update stock values
df = ticker.history(period='8d', interval='1m').reset_index()
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2276 entries, 0 to 2275
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      2276 non-null   datetime64[ns, Asia/Bangkok]
 1   Open          2276 non-null   float64
 2   High          2276 non-null   float64
 3   Low           2276 non-null   float64
 4   Close         2276 non-null   float64
 5   Volume        2276 non-null   int64
 6   Dividends     2276 non-null   float64
 7   Stock Splits  2276 non-null   float64
dtypes: datetime64[ns, Asia/Bangkok](1), float64(6), int64(1)
memory usage: 142.4 KB

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2025-01-21 10:00:00+07:00,1348.319946,1348.319946,1346.790039,1347.180054,0,0.0,0.0
1,2025-01-21 10:01:00+07:00,1347.089966,1347.689941,1346.719971,1346.719971,0,0.0,0.0
2,2025-01-21 10:02:00+07:00,1346.400024,1346.750000,1345.920044,1345.920044,0,0.0,0.0
3,2025-01-21 10:03:00+07:00,1345.770020,1345.770020,1343.729980,1343.729980,0,0.0,0.0
4,2025-01-21 10:04:00+07:00,1344.239990,1344.250000,1343.500000,1344.250000,0,0.0,0.0

In [39]:
df

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2025-01-21 10:00:00+07:00,1348.319946,1348.319946,1346.790039,1347.180054,0,0.0,0.0
1,2025-01-21 10:01:00+07:00,1347.089966,1347.689941,1346.719971,1346.719971,0,0.0,0.0
2,2025-01-21 10:02:00+07:00,1346.400024,1346.750000,1345.920044,1345.920044,0,0.0,0.0
3,2025-01-21 10:03:00+07:00,1345.770020,1345.770020,1343.729980,1343.729980,0,0.0,0.0
4,2025-01-21 10:04:00+07:00,1344.239990,1344.250000,1343.500000,1344.250000,0,0.0,0.0
...,...,...,...,...,...,...,...,...
2271,2025-01-30 12:26:00+07:00,1336.819946,1336.819946,1336.250000,1336.390015,0,0.0,0.0
2272,2025-01-30 12:27:00+07:00,1336.599976,1337.010010,1336.550049,1336.729980,0,0.0,0.0
2273,2025-01-30 12:28:00+07:00,1337.260010,1337.260010,1336.260010,1336.410034,0,0.0,0.0
2274,2025-01-30 12:29:00+07:00,1336.439941,1337.010010,1335.760010,1335.760010,0,0.0,0.0
2275,2025-01-30 12:30:00+07:00,1335.290039,1335.290039,1335.290039,1335.290039,0,0.0,0.0